<% if users.any? %>
  <% users.each do |user| %>
      <div>
        <h1><%= user.name %></h1>
      </div>
      <div>
         <p><%= link_to 'タスク編集画面', user_path(user) %></p>
      </div>
  <% end %>
  <%= paginate users %>
<% end %>
